.deps*
.libs*
Makefile
Makefile.in
aclocal.m4
ar-lib
*-libtool
autom4te.cache*
compile
config.*
!config.json
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
*.la
*.lo
*.o
phosphor-fan-presence-tach
phosphor-fan-control
fanctl
fan_zone_defs.cpp
phosphor-fan-monitor
phosphor-cooling-type
fan_monitor_defs.cpp
test-driver
*.sw*
*.log
*.trs
*_test
libtool
*.service
