build/
.deps*
.libs*
!config.json
depcomp
install-sh
ltmain.sh
missing
*.la
*.lo
*.o
phosphor-fan-presence-tach
phosphor-fan-control
control/fanctl
fan_zone_defs.cpp
phosphor-fan-monitor
phosphor-cooling-type
fan_monitor_defs.cpp
test-driver
*.sw*
*.log
*.trs
*_test
*.service
