.deps*
.libs*
Makefile
Makefile.in
aclocal.m4
ar-lib
arm-openbmc-linux-gnueabi-libtool
x86_64-openbmc-linux-libtool
autom4te.cache*
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
*.la
*.lo
*.o
fan_detect_defs.hpp
phosphor-fan-presence-tach
