[project]
	description = Provides presence detection for physical fans.
[access]
	inheritFrom = openbmc-cpp-repos
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group github/openbmc/phosphor-fan-maintainers
	forgeCommitter = group github/openbmc/phosphor-fan-maintainers
	label-Code-Review = -2..+2 group github/openbmc/phosphor-fan-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/phosphor-fan-maintainers
	label-Verified = -1..+1 group github/openbmc/phosphor-fan-maintainers
	submit = group github/openbmc/phosphor-fan-maintainers
	editTopicName = group github/openbmc/phosphor-fan-maintainers
[access "refs/tags/*"]
	push = +force group github/openbmc/phosphor-fan-maintainers
	createTag = group github/openbmc/phosphor-fan-maintainers
	createSignedTag = group github/openbmc/phosphor-fan-maintainers
