[Unit]
Description=Phosphor Fan Control Daemon
After=phosphor-power-control.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/phosphor-fan-control
