[Unit]
Description=Phosphor Fan Control Daemon
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/phosphor-fan-control
