[Unit]
Description=Sensor Monitor
Wants=xyz.openbmc_project.Logging.service
After=xyz.openbmc_project.Logging.service

[Service]
Restart=always
ExecStart=/usr/bin/sensor-monitor

[Install]
WantedBy=multi-user.target
